[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.7.0"
sklearn = "==1.0.1"
scipy = "==1.7.3"


[dev-packages]
black = "==21.12b0"
notebook = "*"
IPython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
